#ifndef CONFIG_H
#define CONFIG_H

// Firebase credentials
#define FIREBASE_HOST ""
#define API_KEY ""

// Wi-Fi credentials
#define WIFI_SSID ""
#define WIFI_PASSWORD ""

// Board information
#define BOARD_NAME ""
#define FIRMWARE_VERSION ""

// Secret Keys for encryption
const byte ENCRYPTION_SECRET_KEY[] = {};

const byte ENCRYPTION_SECRET_KEY_IV[N_BLOCK] = {};

#endif // CONFIG_H